/*
 * MIXINS
 */
/*
 * STYLES
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
}
html,
body {
  background: #fce8fc;
  padding: 5px;
}
header {
  display: block;
  border-bottom: 1px solid #d817d8;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.Logo {
  font-size: 2.5em;
  margin: 10px 0;
}
.Thread {
  display: block;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d817d8;
  margin-bottom: 20px;
  color: #8a128a;
}
.Thread::after {
  display: table;
  content: " ";
  clear: both;
}
.Thread .Thread__info {
  margin-bottom: 10px;
}
.Thread .Thread__file {
  float: left;
  margin-right: 30px;
}
.Thread .Thread__file img {
  max-width: 300px;
  max-height: 300px;
}

/*# sourceMappingURL=app.css.map */
